*{
    margin-top: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(10, 26, 49);
    font-family: 'Poppins', sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 7vh;
    width: 100vw;
    border-bottom: 1px solid rgb(29, 26, 26);
    z-index: 1;
    position: fixed;
    padding-top: 10px;
}

.navheading{
    font-weight: 1000;
    font-size: 1.2em;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1px 2px 0 2px;
    color: #8090ff;
}

.nav_bar{
    width: 32%;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav_bar ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_bar li{
    list-style: none;
    margin: 16px 1px 0 1px;
}

.nav_bar ul li a{
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.nav_bar ul li a:hover{
    color: #5d9df7;
    font-size: 1.015em;
}

.nav_bar ul li a:focus{
    color: #5d9df7;
    font-weight: 800;
}